{% extends 'base.html.twig' %}

{% block title %}
    Blog Index!
{% endblock %}

{% block body %}
    <aside>
        {{ message }}
    </aside>
    <ul class="posts">
        {% for id, post in posts %}
            <li>
                <p>
                    <a href="{{ path('blog_post', {'id': id}) }}">{{ id }}</a>
                </p>
                <h3>{{ post.title }}</h3>
                <p>{{ post.text }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}