<article class="media text-muted pt-3" id="{{ post.id }}">
    {% set initials = post.user.fullName|split(' ') %}
    <a href="{{ path('micro_post_user', {'username': post.user.username}) }}">
        <img data-src="holder.js/32x32?text={{ attribute(initials, 0)|first }}{{ attribute(initials, 1)|first }}&bg=e83e8c&fg=fff&size=8" alt="" class="mr-2 rounded">
    </a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <span class="d-block">
            <strong class="text-gray-dark">
                <a href="{{ path('micro_post_user', {'username': post.user.username}) }}">
                    @{{ post.user.username }}
                </a>
            </strong> <small>· <a href="{{ path('micro_post_post', {'id': post.id}) }}">{{ post.time|date("d/m/Y") }}</a></small>
        </span>
        {{ post.text }}
    </p>
</article>